# source
git     /extensions/OpenGLRenderer       git://github.com/oe-legacy/extensions-OpenGLRenderer.git
git-dev /extensions/OpenGLRenderer	 git@github.com:oe-legacy/extensions-OpenGLRenderer.git

# win lib
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip

